<!DOCTYPE html>
<html ng-app="starter">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<ion-view ion-title="guessColor" id="guessColor">
  <body>
  <h1 id="rideTheBus_title">Ride The Bus!</h1>

  <!-- red and black display -->
  <button class ="button-balanced" id="red_button" ng-click="guessColor('red')">RED</button>
  <button class ="button-balanced" id="black_button" ng-click="guessColor('black')">BLACK</button>

  <img src= "{{cardBack.image}}" id = "cardBack1">
  </body>
</ion-view>
</html>
