<!DOCTYPE html>
<html ng-app="starter">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<ion-view ion-title="overOrUnder" id="overOrUnder">
  <body>
  <h1 id="rideTheBus_title">Ride The Bus!</h1>

  <!-- take and give drink display -->
  <h1 id="wrong">WRONG!</h1>
  <h1 id="takeADrink">Take A Drink!</h1>
  <h1 id="correct">CORRECT!</h1>
  <h1 id="giveADrink">Give A Drink!</h1>

  <!-- red and black display -->
  <button class ="button-balanced" id="over_button" ng-click="guessColor('red')">OVER</button>
  <button class ="button-balanced" id="under_button" ng-click="guessColor('black')">UNDER</button>

  <img src= "{{nextCard.image}}" id = "nextCard">
  <img src= "{{cardBack.image}}" id = "cardBack">
  </body>
</ion-view>
</html>
