<!DOCTYPE html>
<html ng-app="starter">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<ion-view ion-title="inOrdOut" id="inOrOut" style="background-color: darkcyan">
  <body>
  <h1 id="rideTheBus_title">Ride The Bus!</h1>

  <!-- in or out display -->
  <button class ="button-balanced" id="over_button" ng-click="inOrOut('inside')">INSIDE</button>
  <button class ="button-balanced" id="under_button" ng-click="inOrOut('outside')">OUTSIDE</button>

  <img src= "{{cardBack.image}}" id = "cardBack2">
  <img src ="{{currentPlayer.getCards()[0].image}}" id = "hand1">
  </body>
</ion-view>
</html>
