<!DOCTYPE html>
<html ng-app="starter">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<ion-view ion-title="overOrUnder" id="overOrUnder" style="background-color: darkcyan">
  <body>
  <h1 id="rideTheBus_title">Ride The Bus!</h1>

  <!-- display the current player information -->
  <h1 id="displayName">Current Player: {{currentPlayer.getName()}}</h1>
  <h1 id="displayTaken">Drinks Taken: {{currentPlayer.getTaken()}}</h1>
  <h1 id="displayGiven">Drinks Given: {{currentPlayer.getGiven()}}</h1>

  <!-- over or under display -->
  <button class ="button-balanced" id="over_button" ng-click="overOrUnder('over')">HIGHER</button>
  <button class ="button-balanced" id="under_button" ng-click="overOrUnder('under')">LOWER</button>

  <img src= "{{cardBack.image}}" id= "cardBack2">
  <img src ="{{currentPlayer.getCards()[0].image}}" id= "hand1">

  </body>
</ion-view>
</html>
